[submodule "make"]
	path = make
	url = https://github.com/jmdaemon/make-modules
[submodule "presets"]
	path = presets
	url = https://github.com/jmdaemon/cmake-presets
[submodule "cmake"]
	path = cmake
	url = https://github.com/jmdaemon/cmake-modules
[submodule "themes/doxygen-awesome-css"]
	path = themes/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "subprojects/unity"]
	path = subprojects/unity
	url = https://github.com/ThrowTheSwitch/Unity
