[submodule "make"]
	path = make
	url = https://github.com/jmdaemon/make-modules
[submodule "presets"]
	path = presets
	url = https://github.com/jmdaemon/cmake-presets
[submodule "cmake"]
	path = cmake
	url = https://github.com/jmdaemon/cmake-modules
